/*
	全局定义样式
*/
$whiteFont:#FFFFFF;
$grayFont: #a6a6a6;
$grayBg: #f9f9f9;
$listBg :#F5F8FE;

$baseBg: rgba(18, 127, 246, 1);

$baseFont:rgba(0, 145, 255, 1);
$greenFont:rgb(112,201,121);
$btnColor: rgba(74,144,226,1);

